<div class="home-container">
    <header class="header">
      <div class="language-switch">
        <button (click)="switchLanguage('es')" [class.active]="currentLang === 'es'">ES</button>
        <button (click)="switchLanguage('en')" [class.active]="currentLang === 'en'">EN</button>
      </div>
      <a href="https://github.com/alx-mp/fluid-background-angular-threejs" 
         target="_blank" 
         rel="noopener noreferrer"
         class="github-link">
        <i class="fab fa-github"></i>
      </a>
    </header>

    <section class="content">
      <h2>{{ 'HOME.TITLE' | translate }}</h2>
      <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
      
      <div class="author-info">
        <img src="https://avatars.githubusercontent.com/u/174889086?v=4" alt="Author" class="author-avatar">
        <div class="author-details">
          <h3>Alex M.</h3>
          <p>{{ 'HOME.AUTHOR_BIO' | translate }}</p>
          <div class="social-links">
            <a href="https://github.com/alx-mp" 
               target="_blank" 
               class="social-link">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>